/* Start Fonts */

/* The Fonts that has been used in the website */

@font-face {
  font-family: "Recoleta";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Recoleta/Recoleta-Bold.eot") format("eot"),
    url("../fonts/Recoleta/Recoleta-Bold.woff") format("woff"),
    url("../fonts/Recoleta/Recoleta-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans/noto-sans.eot") format("eot"),
    url("../fonts/noto-sans/noto-sans.ttf") format("truetype"),
    url("../fonts/noto-sans/noto-sans.woff") format("woff"),
    url("../fonts/noto-sans/noto-sans.woff2") format("woff2");
}

@font-face {
  font-family: "Recoleta";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Recoleta/RecoletaAlt-SemiBold.eot") format("eot"),
    url("../fonts/Recoleta/RecoletaAlt-SemiBold.woff") format("woff"),
    url("../fonts/Recoleta/RecoletaAlt-SemiBold.ttf") format("truetype");
}

/* Addition Font for the qoutation mark in the Testilonials Section */

/* End Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #c0c0c0; /* C1C1C1 */
  --headerColor: #876c4f;
  --secondHeaderColor: #4e4b4a; /* #32303b */
  --mainSectionColor: #b4afab;
  --dateColor: #7a7369;
  --textColor: #545454;
}

@page {
  margin: 0;
}

html {
  background-color: white;
}

body {
  width: 21cm;
  height: 29.7cm;
  margin-right: auto;
  margin-left: auto;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--mainColor);
}

#container .item .header {
  color: var(--headerColor);
  font-size: 1.3em;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#container .item .header h1 {
  text-transform: uppercase;
  font-family: Recoleta, sans-serif;
  font-weight: 600;
}
#container .item .header span {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#container .item hr {
  border: none;
  outline: none;
  margin-right: auto;
  margin-left: auto;
  background: none;
  border-radius: 50px;
  margin-bottom: 20px;
  border-top: 1.5px solid var(--headerColor);
}

#container .item {
  height: 100%;
  width: 32%;
  background-color: aqua;
  overflow: hidden;
  padding: 10px;
  word-wrap: break-word;
}

#container .item:not(:nth-of-type(2)) {
  padding-top: 60px;
  background-color: transparent;
}

#container .item article {
  margin-bottom: 35px;
}

#container .item article h2 {
  margin-bottom: 5px;
  font-family: Recoleta, sans-serif;
  font-size: 1em;
  color: var(--headerColor);
}

#container .item article {
  color: var(--textColor);
}

#container .item article div:not(:first-child) {
  font-family: "Noto Sans", sans-serif;
  color: var(--textColor);
  font-size: 0.9em;
}

#container .item article h3 {
  color: var(--secondHeaderColor);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.92em;
}

/* The Beginning of the First Part */

#container .item:first-child article {
  text-align: end;
}

#container .item:first-child article .edu span {
  margin-bottom: 5px;
  font-family: "Noto Sans", sans-serif;
  font-style: italic;
  font-size: 0.9em;
  text-transform: capitalize;
}

#container .item:first-child article .lang div {
  height: 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--mainSectionColor);
}

#container .item:first-child article .lang div span {
  display: block;
  height: 100%;
  text-align: start;
  background-color: var(--headerColor);
}

#container .item:first-child article .cert:not(:first-child) {
  margin-top: 15px;
}

#container .item:first-child article .cert h3 {
  font-size: 1.2em;
}

#container .item:first-child article .cert span {
  font-size: 1.05em;
}

#container .item:first-child article > div > h2 {
  margin-top: 20px;
}

/* The END of the First Part */

/* The Beginning of the Second Part */

#container .item:nth-child(2) {
  background-color: var(--mainSectionColor);
  border-radius: 150px;
}

#container .item:nth-child(2) .about_me {
  margin: auto auto;
  text-align: center;
  padding-top: 40px;
}

#container .item:nth-child(2) article:not(:first-child) {
  margin-top: 50px;
}

#container .item:nth-child(2) .about_me .cover {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto 40px;
}

#container .item:nth-child(2) .cover .upload {
  height: 40px;
  width: 40px;
  z-index: 5;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  border-radius: 25px;

  visibility: hidden;
  transition: all 0.5s ease-in;
}

#container .item:nth-child(2) .cover .upload label {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-color: var(--mainColor);
}

#container .item:nth-child(2) .cover .upload label span {
  color: var(--secondHeaderColor);
  font-size: 1.4em;
}

#container .item:nth-child(2) .upload input[type="file"] {
  width: 0;
  height: 0;
  position: absolute;
}

#container .item:nth-child(2) .about_me .cover .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 100px;
}

#container .item:nth-child(2) .about_me .overlay span {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--mainColor);
}

#container .item:nth-child(2) .about_me .overlay img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

#container .item:nth-child(2) .about_me h1 {
  font-size: 2.5em;
  color: var(--secondHeaderColor);
  font-family: Recoleta, sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}

#container .item:nth-child(2) .about_me h2 {
  color: var(--textColor);
  font-size: 0.9em;
  font-style: italic;
  font-family: "Noto Sans", sans-serif;
}

#container .item:nth-child(2) article {
  text-align: center;
}

#container .item:nth-child(2) article .header {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

#container .item:nth-child(2) article .header span {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container .item:nth-child(2) article hr {
  width: 160px;
}

#container .item:nth-child(2) article > div hr {
  width: 40px;
  margin-top: 25px;
  background: none;
  border-top: 1.5px solid var(--headerColor);
}

/* The END of the Second Part */

/* The Beginning of the First Part */

#container .item:last-child article .header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#container .item:last-child article .header span {
  flex-direction: row-reverse;
  position: relative;
}

#container .item:last-child article div.exp:not(:nth-of-type(2)),
#container .item:last-child article div.proj:not(:nth-of-type(2)) {
  margin-top: 20px;
}
#container .item:last-child article div.proj h3 em {
  color: #501f0ffc;
  font-size: 10px;
}

/* #container .item:last-child article .exp h2{
    } */

#container .item:last-child article h3 {
  font-size: 1.1em;
  text-transform: uppercase;
}

#container .item:last-child article > div:not(:first-of-type) span {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
}

#container .item:last-child article .exp span::before {
  margin-right: 5px;
  content: "\f303";
  font-weight: 900;
  font-size: 0.8em;
  font-family: "Font Awesome 5 Free";
  transform: rotate(-90deg);
  display: inline-block;
}

/* The END of the Third Part */
